body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  min-height: 100vh;
  color: #fff;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
}

h1 {
  font-size: 42px;
  margin-bottom: 5px;
}

p {
  opacity: 0.9;
  margin-bottom: 30px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 200px;
}

button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.add-btn {
  background: #00c6ff;
  color: black;
}

.delete-btn {
  background: #ff4d4d;
  color: white;
}

.complete-btn {
  background: #00ff88;
  color: black;
}

.skill-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.progress-bar {
  height: 8px;
  background: #444;
  border-radius: 10px;
  margin-top: 8px;
}

.progress {
  height: 8px;
  background: #00ff88;
  border-radius: 10px;
}

.dark {
  background: #0f172a;
  color: white;
  min-height: 100vh;
  padding: 40px;
}

.light {
  background: #f4f6f9;
  color: black;
  min-height: 100vh;
  padding: 40px;
}

button {
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.card {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}

.green {
  background: #1b5e20;
}

.gold {
  background: #ffb300;
  color: black;
}

.blue {
  background: #1565c0;
}

/* LOGIN PAGE FIX */

.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  text-align: center;
}

.login-card input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
}

.login-card button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #667eea;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.login-card button:hover {
  background: #5a67d8;
}

.toggle {
  color: #667eea;
  cursor: pointer;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 13px;
}
